@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/raleway-5');
@import url('https://fonts.cdnfonts.com/css/poppins');

html{
  font-family: 'Poppins', sans-serif;
}
body{
  scroll-behavior: smooth;
}
.hero-header
{
  font-family:"Poppins", sans-serif;
}
.hero
{
  background-image: url("./assets/bg.png");
  height:  100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}